/* select{
    width: 150px;
    margin-right: 30%;
    border-color:rgba(255, 255, 255, 0.9) ;
}
nav{
    background-color: white;
    height: 13% ;
  
}
.nav-link{
    color: #0A6F71 !important;
    margin-bottom: 5%;
    margin-left: 30%;
}
#product_li{
    margin-left: 20px;
}
#bar-name{
    font-weight: 600;
    font-size: x-large;
    color: #0A6F71 !important;
    margin-top: 0px;
}
.dropdown{
    margin-right: 2%;
}
.nav{
    margin-top:2%;
}
nav{
    position:fixed !important;
    top:0 !important;
    width: 100% !important;
    z-index:10;
} */
main{
    margin-top: 10% !important;
    
  
}
main>a>img{
    width: 200px;
    height: 200px;
    margin-left: 90px;

}
main>div:first-of-type{
    display: inline-flex;
   margin-top: 50px;
   
}
.info{
margin-top: 30px;
display: grid;
width: 500px;
margin-left: 80px;
row-gap: 7px;
border:solid;
border-color: #0A6F71;

}
main>div:nth-of-type(2){
margin-top: 30px;
display: flex;
justify-content: end;
margin-right: 150px;
}
.col-md-6{
    height: 100%;
    background-color: white !important;
}
.btn{
    background-color: #0A6F71;
}
.dropdown-toggle{
    margin-left: 25%;
}
.dropdown-menu >li> a{
    text-decoration: none;
}
body{
    background-color: rgb(238,243,253);
}
button{
    background-color: #0A6F71;
    color: white;
    border-color: #0A6F71;
}

@media screen and (max-width:1200px) and (min-width:800px){
    nav{
        height: 25% !important;
    }
    .dropdown{
    margin-right: 0 !important;
    
    }
    form{
        
        margin-top: 20px !important;
        width: 40% !important;
        
    }
    select{
        margin-right: 0 !important;
       
      }
      main{
        margin-top: 18% !important;
    

     }
     main>div:first-of-type{
        display: grid;
        justify-content: center;

     }
    main>div:nth-of-type(2){
        justify-content: end;
    }
    }
    @media screen and (max-width:800px) and (min-width:300px) {

        select{
          margin-right: 0 !important;
         
        }
       
      main{
          margin-top: 33% !important;
      
      }
      nav{
          height: 25% !important;
      }
      .dropdown{
      margin-right: 0 !important;
      
      }
      form{
          
          margin-top: 10px !important;
          width: 40% !important;
          
      }
      main>div:first-of-type{
        display: grid;
        justify-content: center;
     }
     .info{
    
        width: 300px;
       margin-right: 50px;
        
        }
      }