
select {
    width: 150px;
    margin-right: 30%;
    border-color: rgba(100, 92, 92, 0.9);
}

nav {
    background-color: white !important;
    height: 13%;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 10;
}

.nav-link {
    color: #0A6F71 !important;
    margin-bottom: 5%;
    margin-left: 50%;
}
.dropdown-menu >li> a{
    text-decoration: none;
}
#product_li {
    margin-left: 5px;
}

#bar-name {
    font-weight: 600;
    font-size: x-large;
    color: #0A6F71 !important;
    margin-top: 0px;
}

.dropdown {

    margin-left: 40px;
}

.nav {
    margin-top: 2%;
}


body{
    background-color: rgb(238, 243, 253) !important;
}
body>div {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header header header header header header"
        "header header header header header header"
        "header header header header header header"
        "header header header header header header"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main";

}
h1{
    margin-right: 40px;
}

main {
    height: 39vh;
    grid-area: main;
    margin-top: 13%;

}
#filter-btn{
    border-color: #0A6F71;
    background-color :white;
    border-radius: 7px;   
}
.filter {
    width: 400px;
    height: 350px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-row-gap: 50px;
    border: solid gray;
    margin-left: 35%;
    margin-top: 0px;
    row-gap: 10px;
}
.search_button{
background-color: #0A6F71;
color: white;
border-radius: 7px;
border-color: #0A6F71;
width: 70px;
margin-right: 45px;
}

.col-md-6 {
    height: 100%;
    background-color: white !important;
}

.btn {
    background-color: #0A6F71;
    
}

.dropdown-toggle {
    margin-left: 25%;
}

.dropdown-menu>li>a {
    text-decoration: none;
}


@media screen and (max-width:520px) and (min-width:300px){
    select {
        margin-right: 0 !important;
    }

    main {
        height: 10vh;
        margin-top:55% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        height: 25% !important;
    }

    .dropdown {
        margin-right: 0 !important;
    }

    form {
        margin-top: 10px !important;
        width: 40% !important;
    }

   

    main>div{
        margin-top: 30%;
        margin-left: 2%;
    }
}
@media screen and (max-width:600px) and (min-width:520px) {

    select {
        margin-right: 0 !important;
    }

    main {
        height: 10vh;
        margin-top:55% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        height: 25% !important;
    }

    .dropdown {
        margin-right: 0 !important;
    }

    form {
        margin-top: 10px !important;
        width: 40% !important;
    }


    main>div {
        margin-left: 30px;
        margin-top: 100px !important;
        row-gap: 10px;
    }
}
@media screen and (max-width:700px) and (min-width:600px) {

    select {
        margin-right: 0 !important;
    }

    main {
        height: 10vh;
        margin-top:55% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        height: 25% !important;
    }

    .dropdown {
        margin-right: 0 !important;
    }

    form {
        margin-top: 10px !important;
        width: 40% !important;
    }

    
    main>div {
        margin-left: 30px;
        margin-top: 10px !important;
        row-gap: 10px;
    }
}

@media screen and (max-width:800px) and (min-width:700px) {

    select {
        margin-right: 0 !important;
    }

    main {
        height: 10vh;
        margin-top:55% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        height: 25% !important;
    }

    .dropdown {
        margin-right: 0 !important;
    }

    form {
        margin-top: 10px !important;
        width: 40% !important;
    }

    main>div {
        margin-left: 30px;
        margin-top: 0px !important;
        row-gap: 10px;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {
    nav {
        height: 25% !important;
    }

    .dropdown {
        margin-right: 0 !important;

    }

    form {

        margin-top: 20px !important;
        width: 40% !important;

    }

    select {
        margin-right: 0 !important;

    }

    main {
        margin-top: 20% !important;
        height: 5vh;
    }
    main>div{
        margin-top: 0%;
        margin-bottom: 50%;
        margin-left: 27%;
        row-gap: 10px;
    }

    body>div {
        height: 100vh;
        grid-template-areas:
            "header header header header header header"
            "header header header header header header"
            "header header header header header header"
            "header header header header header header"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main";
    }
}

@media screen and (max-width:1000px) {
 
    main {
        margin-bottom: 5% !important;
    }
}