
#expiration{
    text-transform: uppercase;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #000000;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    
}
body{
    display: flex;
    flex-flow: row;
    background-color: rgb(238,243,253);
}
.back {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: -60px;
  }
h3,h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
body>div:first-of-type{
    
    display: grid;
    align-items: start;
    justify-content: start;
   margin-left: 140px;
}
#submit{
    width: 35%;
    height: 35px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:#0A6F71;
    color: white;
    /* margin-left: 400px; */
}
form > input{
    width: 90%;
    margin-top: 10px;
}
form>label{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

form{
    display: grid;
}

[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img{
    cursor: pointer;
}
/* 
#paypalId:checked+ img{
    outline: 1px solid rgb(0, 132, 255);
outline-offset: 4px;
} */
#masterCardId:checked+ img{
    outline: 1px solid rgb(255, 140, 0);
outline-offset: 4px;

}
#imagee{
    margin-left: 150px;
}
img{
    height: 55px;
    width: 70px;
    margin-left: 100px;
}
#check{
    margin-top: 15px;
}
.img1{
    border-radius: 50%;
    margin-top: 100px;
    width: 50%;
    height: 70%;
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A6F71;
    color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1100px){
    body>div:first-of-type{
        justify-content: center;
     
    }
    .img1{
        display: none;
    }
}
