body{
    background-image: url(/static/img/signup_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body>form{
    display: grid;
    justify-content: center;
    border: solid;
    border-color:rgba(255, 255, 255, 0.5) ;
    background-color: rgba(255, 255, 255, 0.5);
    width:25%;
    margin-left: 37%;
    margin-top: 70px;
    height: 70vh;
    border-radius: 5px;
}
input{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
    margin-bottom: 25px;
    width: 260px;
    border-radius: 4px;
}

h1{
    color: black;
    margin-left: 30%;
}

#signup_but{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-color: #0A6F71;
    background-color: #0A6F71;
    opacity: 0.9;
    color: white;
    font-weight: 300;
    font-size: large;
    display:flex;
    justify-content: center;
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A6F71;
    color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

img{
    width: 40px;
    height: 40px;
}

@media screen and (max-width:1000px)and (min-width:300px){
   
    #signup_but{
        width: 100px;
    }
    input{
        width: 260px;
      
    }
    body>form{
        width:300px;
        margin-left: 15%;
        height: 68vh;
        
    }
    body{
        height: 100vh;
    }
    h1{
        
        margin-left: 20%;
    }

}
