<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/learnmore.css">
    <title>Learn More</title>
</head>

<body>
   
    <main>
       
            <div class="img-container">
          
              <img src="/static/img/circle2.png" class="img3">
              <img src="/static/img/learnmore2.jpg" class="img1">
              
            </div>
      
   <div>
    
    <h1>Rentopia</h1>
    <h2>Landing page</h2>
    <p>The ultimate online platform connecting <br>
        renters with properties, and equipment. <br>
        With detailed listings,secure payments,<br>
        and a reliable rating system,it offers a <br>
        seamless and trustworthy rental experience.<br>
        Find, book, and enjoy the perfect <br>
        rental solution effortlessly.</p>
   </div>
    </main>


</body>

</html>

